[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "dataclass"]
	path = dataclass
	url = https://github.com/walkerjameschris/dataclass
	shallow = true
	registered = true
